<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <%- include('../common/style') %>
    <link rel="stylesheet" type="text/css" href="/css/front/topMenu.css">
    <link rel="stylesheet" type="text/css" href="/css/front/footer.css">
</head>
<body>
    <%- include('../front/top_menu') %>

    <div class="container mt-5 col-12 col-md-4" style="min-height: 500px;">
        <div class="card border-success">
            <div class="card-header text-success border-success"><i class="fal fa-sign-in mr-1"></i> Login</div>
            <div class="card-body">
                <% if (locals.errors) { %>
                    <% for (error of errors) { %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                <% } %>
                <form method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Login</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('../front/footer') %>

    <%- include('../common/js') %>

    <script src="/js/front/topMenu.js"></script>
</body>
</html>