<div class="col-12 col-md-6 col-lg-4 container_single_post">
    <article class="post">
        <div class="post_image_container">
            <a href="/post/<%= post.id %>">
                <img src="<%= post.imageUrl %>" alt="">
            </a>
            <div class="post_detail_container d-flex align-items-center justify-content-between pr-3 pl-3">
                <div class="post_detail_single">
                    <i class="fas fa-user"></i>
                    <span class="post_author_name"><%= post.User.firstName + " " + post.User.lastName %></span>
                </div>
                <div class="post_detail_single">
                    <i class="fas fa-heart"></i>
                    <span class="number_of_like_post"><%= post.likes %></span>
                </div>
                <div class="post_detail_single">
                    <i class="fas fa-eye"></i>
                    <span class="number_of_view_post"><%= post.views %></span>
                </div>
            </div>
        </div>
        <div class="post_body">
            <a href="/post/<%= post.id %>" class="post_title"><%= post.title %></a>
            <%
                const lengthOfExcerpt = 200;
                const excerptContent = post.getRawContent().slice(0, lengthOfExcerpt);
            %>
            <p class="post_content"><%= excerptContent %> ...</p>
        </div>
        <a href="/post/<%= post.id %>" class="read_more_post">Read more</a>
        <span class="post_release_date">
                <i class="far fa-clock"></i>
                <span class="post_release_date_time"><%= post.createdAt.days %> <%= post.createdAt.toLocaleString([], {year: 'numeric', month: 'long', day: 'numeric'}) %></span>
            </span>
    </article>
</div>