<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <script src="/js/admin/tinymce.min.js"></script>
    <script src="/js/admin/dropzone.js"></script>
    <link rel="stylesheet" href="/css/admin/dropzone.css">
    <link rel="stylesheet" href="/css/admin/dropdowntree.css">

    <%- include('../common/style') %>
</head>

<body>
    <%- include('../common/nav') %>

        <div class="container mt-5">
            <div class="card">
                <div class="card-header align-middle">
                    <div class="align-middle form-inline float-left h-100">
                        <i class="fal fa-sticky-note font-weight-bold float-left"></i>
                        <h6 class="d-inline font-weight-light ml-2 font-weight-bold float-left">
                            <%= title %>
                        </h6>
                    </div>
                    <div class="form-inline float-right">
                        <input id="post-title" class="form-control mx-2" type="text" placeholder="Title">
                        <div class="dropdown dropdown-tree" id="category-select"></div>
                        <input id="image-url" class="form-control mx-2" type="text" placeholder="Post Image">
                        <button id="upload-image-btn" class="btn btn-primary mx-2" data-toggle="modal"
                            data-target="#upload-modal">Upload Image</button>
                        <button onclick="submit('<%= submit_btn.method %>', '<%= submit_btn.url %>')"
                            class="btn btn-success mx-2">
                            <%= submit_btn.text %>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <textarea id="text-editor"><%= post.content %> </textarea>
                </div>
            </div>
        </div>

        <!-- Upload Modal -->
        <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="file" name="file" id="post-image-file">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="upload-main-image-btn" type="button" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <%- include('../common/js') %>
        <script src="/js/admin/editor.js"></script>
        <script src="/js/admin/dropdowntree.js"></script>
        <%- include('../category/dropdowntree') %> 
        <script src="/js/admin/post.js"></script>
        <script>
            $(document).ready(() => {
                $('#post-title').val('<%= post.title %>')
                $('#image-url').val('<%= post.imageUrl %>')
                const postCategory = JSON.parse('<%- JSON.stringify(postCategory) %>')
                if (postCategory) {
                    $('#category-select').Title(postCategory.name)
                }
            })
        </script>
            
</body>

</html>