<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <%- include('../common/style') %>

    <style>
.clt, .clt ul, .clt li {
    position: relative;
}
.clt ul {
    list-style: none;
    padding-left: 40px;
    padding-top: 3px;
}
.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -24px;
}
.clt li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 20px;
    height: 0;
}
.clt li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 2px;
}
.clt ul > li:last-child::after {
    height: 8px;
}
.category-action {
    transition-duration: 0.2s;
}
.single-category:hover .category-action {
    opacity: 1 !important;
}
    </style>
</head>
<body>
    <%- include('../common/nav') %>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <i class="align-middle fal fa-cubes fa-2x font-weight-bold"></i>
                <h6 class="d-inline font-weight-light ml-2 align-middle font-weight-bold">Categories</h4>
                <a href="/admin/category/create" class="btn btn-sm btn-outline-success float-right"><i class="fa fa-plus"></i> Create Category</a>
            </div>
            <div class="card-body">
                <nav class="">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-tree-tab" data-toggle="tab" href="#nav-tree" role="tab" aria-controls="nav-tree" aria-selected="true"><i class="fal fa-sitemap"></i> Tree</a>
                      <a class="nav-item nav-link" id="nav-table-tab" data-toggle="tab" href="#nav-table" role="tab" aria-controls="nav-table" aria-selected="false"><i class="fal fa-table"></i> Table</a>
                    </div>
                </nav>
                <div class="tab-content pt-4" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-tree" role="tabpanel" aria-labelledby="nav-tree">
                        <div class="clt">
                            <ul>
                                <%- include('tree_categories', {parId: null}) %>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-table" role="tabpanel" aria-labelledby="nav-table">
                        <table class="table table-bordered text-center">
                            <tr>
                                <th style="width: 10%;">ID</th>
                                <th>Name</th>
                                <th>Parent ID</th>
                                <th style="width: 15%;">Operation</th>
                            </tr>
                            <% if (categories.length > 0) { %>
                                <% for (category of categories) { %>
                                    <tr>
                                        <td><%= category.id %></td>
                                        <td><%= category.name %></td>
                                        <td>
                                            <%= category.CategoryId ? category.CategoryId : "-" %></td>
                                        <td>
                                            <a href="/admin/category/delete/<%= category.id %>" class="text-danger"><i class="fa fa-trash-alt"></i></a>
                                            <a href="/admin/category/edit/<%= category.id %>" class="text-primary"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } else { %>
                                <tr>
                                    <td colspan="4">
                                        <div class="alert alert-info mt-2 text-center">No Category created yet</div>
                                    </th>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../common/js') %>
</body>
</html>